.body{
        background-color: black;
        color: white;
        text-align: center;
        font-family: 'Times New Roman';
        transition: background-color 0.4s ease;
      }

      .title{
        font-size: clamp(30px, 8vw, 50px);
        font-weight: bold;
      }

      .image-button{
        background-color: transparent;
        border: none;
        border: 2px solid white;
        border-radius: 100px;
        margin: 10px;
        padding: 20px;
        transition: 0.4s;
      }

      .image-button:hover{
        transform: scale(1.1);
      }

      .image-icon{
        height: clamp(50px, 18vw, 70px);
        cursor: pointer;
      }

      .result{
        font-size: clamp(20px, 7vw, 50px);
        font-weight: bold;

      }

      .move{
        height: 40px;
        font-size: clamp(15px, 3vw, 50px);

      }

      .reset{

        background-color: whitesmoke;
        border: none;
        border-radius: 70px;
        font-size: clamp(25px, 5vw, 30px);
        font-family: 'Times New Roman';
        margin-top: 20px;
        padding: 10px 15px;
      }

      .js-move{
        font-size: clamp(20px, 3vw, 40px);
        font-family: 'Times New Roman';
        margin-top: 20px;
      }

      .js-score{
        font-size: clamp(20px, 5vw, 40px);
        font-family: 'Times New Roman';
        margin-top: 20px;
      }
