.body{
        background-color: black;
        color: white;
        text-align: center;
        font-family: 'Times New Roman';
        transition: background-color 0.4s ease;
      }

      .title{
        font-size: 50px;
        font-weight: 'bold';
      }

      .image-button{
        background-color: transparent;
        border: none;
        border: 2px solid white;
        border-radius: 100px;
        margin: 10px;
        padding: 20px;
        transition: 0.4s;
      }

      .image-button:hover{
        transform: scale(1.1);
      }

      .image-icon{
        height: 60px;
        cursor: pointer;
      }

      .result{
        font-size: 50px;
        font-weight: bold;

      }

      .move{
        height: 40px;
        font-size: 50px;

      }

      .reset{

        background-color: whitesmoke;
        border: none;
        border-radius: 70px;
        font-size: 20px;
        font-family: 'Times New Roman';
        margin-top: 20px;
        padding: 10px 15px;
      }

      .js-move{
        font-size: 30px;
        font-family: 'Times New Roman';
        margin-top: 20px;
      }

      .js-score{
        font-size: 25px;
        font-family: 'Times New Roman';
        margin-top: 20px;
      }
